/*Stylesheet by Leanne Abrahan, Spring 2017*/
#mapid {
  height: 500px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  float: right;
  position: fixed;
}
#header {
  font-size: 1.2em;
}
body {
  font-family: sans-serif;
  padding: 0px
}
.range-slider {
  width: 90%;
}

/*Style The appearance leaflet controls on the map*/
.slider {
  width: 150%;
  height: 25px;
  background-color: rgba(0,0,0,0.7);
  padding: 8px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  border: solid gray 1px;
  border-radius: 50px;
}
.legend {
  background-color: rgba(0,0,0,0.7);
  border-radius: 25px;
  color: white;
  text-align: center;
  vertical-align: middle;
  border: solid gray 1px;
  height: 240px;
  width: 200px;
  font-size: 1.1em;
}
.leaflet-control-layers-expanded {
  background-color: rgba(0,0,0,0.0);
  border: solid gray 1px;
  font-size: 1.2em;
}
.leaflet-control-layers-expanded {
  background-color: rgba(0,0,0,0.7);
  border-radius: 25px;
  color: white;
  text-align: center;
  vertical-align: middle;
  border: solid gray 1px;
  padding: 10px;

}
/*slider styles for across browsers*/
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    /*border: 1px solid white;*/
    /*required for proper track sizing in FF*/
    /*width: 300px;*/
}
input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 2.5px;
    background: #fff;
    border: none;
    border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #FFC125;
    margin-top: -7px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 2.5px;
    background: #fff;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #FFC125;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    height: 2.5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    /*border-radius: 10px;*/
}
input[type=range]::-ms-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #FFC125;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
