/*Stylesheet by Leanne Abrahan, Spring 2017*/
#mapid {
  height: 400px;
  width: 75%;
  display: inline-block;
  vertical-align: top;
  float: right;
}
#panel {
    width: 25%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    background-color: #a0a0a0;
    float: left;
}
body {
  padding: .20px;
}
leaflet-popup-content {
    margin: .1em;
}
p {
  line-height: 1.8em;
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
}
