/*Stylesheet by Leanne Abrahan, Spring 2017*/
#mapid {
  height: 400px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  float: right;
}
/*#panel {
    width: 30%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    background-color: #a0a0a0;
    float: left;
}*/
body {
  padding: .20px;
}
p {
  line-height: 1.8em;
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
}
div b {
  font-size: 1em;
  font-family: sans-serif;
}
#slider {
  height: 60px;
  text-align: center;
  padding: 10px;
}
.range-slider {
  width: 90%;
}
#forward {
  float: right;
}
#reverse {
  float: left;
}
#button {
  padding-left: 10px;
  padding-right: 10px;
}
#sidebar {
  padding: 5px;
  vertical-align: top;
  overflow: hidden;
}
/*.controls{
  height: 100px;
  width: 100%;
  background-color: black;
  position: absolute;
}*/
.slider {
  width: 150%;
  height: 70px;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  line-height: 45px;
  text-align: center;
  border: solid gray 1px;
}
.legend {
  background-color: rgba(255,255,255,0.8);
  /*height: 100px;*/
  /*line-height: 500px;*/
  text-align: center;
  vertical-align: middle;
  border: solid gray 1px;
  padding: 0px;
  height: 160px;
  width: 160px;
}
